## 1. Variables and Data Types

In [ ]:
# Numeric types
x = 10        # Integer
y = 3.14      # Float

# Strings
name = "Alice"

# Boolean
is_active = True

# None (null)
value = None

print(x, y, name, is_active, value)

10 3.14 Alice True None

## 2. Data Structures

In [ ]:
# Lists (ordered, mutable)
my_list = [1, 'hello', 3.14, True]
my_list.append(5)
my_list.remove(1) # Remove item with value
del my_list[0] # Remove item with index


print(my_list)
# Access first element
print(my_list[0])
# Access last element
print(my_list[-1])

[3.14, True, 5]
3.14
5

In [ ]:
# Tuples (ordered, immutable)
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [ ]:
# Sets (unordered, mutable, unique values)
my_set = {1, 2, 3}
my_set.add(4)
my_set.remove(3)
print(my_set)
print(3 in my_set)

{1, 2, 4}
False

In [ ]:
# Dictionaries (key-value pairs, mutable)
my_dict = {"name": "Alice", "age": 25}
my_dict["city"] = "NYC"
print(my_dict["age"])
print(my_dict.keys())
print(my_dict.values())

25
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'NYC'])

## 3. Conditionals and Loops

In [ ]:
# Conditional statements
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x equals 5")
else:
    print("x is less than 5")

x is greater than 5

In [ ]:
# Loops
for i in range(5):
    print(i)
print('****')
for i in range(10, 1, -3):
    print(i)
print('****')
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2
3
4
****
10
7
4
****
0
1
2

In [ ]:
for index, value in enumerate(['a', 'b', 'c']):
    print(index, value)

In [ ]:
# Declarative Style
squares = [x ** 2 for x in range(10)]
print(squares)

 ## 4. Functions

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

## 5. Classes and Objects

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"My name is {self.name} and I am {self.age} years old.")

person = Person("Alice", 25)
person.introduce()

My name is Alice and I am 25 years old.

## 6. File Handling

In [ ]:
# Writing to a file
with open("example.txt", "w") as file:
    file.write("Hello, World!\n")

# Reading from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!

## 8. Libraries and Modules

In [ ]:
import math
import random

print(math.sqrt(16))
print(random.randint(1, 10))

4.0
1

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print(arr * 2)